<mat-card class="example-card">
  <mat-card-header>
    <!--    <div mat-card-avatar  class="" [attr.style]="'background: url(../../assets/img/product-'+ (index+1) +'.jpg); background-size: cover;'"></div>-->
     <div class="favorite-icon" (click)="product.isFavorite = !product.isFavorite">
      <mat-icon *ngIf="product.isFavorite" [class.mat-accent]="product.isFavorite" class="favorite">
        favorite
      </mat-icon>
      <mat-icon *ngIf="!product.isFavorite" color="primary" class="favorite">favorite_border</mat-icon>
    </div>
    <mat-card-title>{{product.title}}
    </mat-card-title>
    <mat-card-subtitle>{{product.author}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="pointer" src="{{product.img}}" alt="{{product.title}}" [routerLink]="['/backoffice', product._id]">
  <mat-card-content>
    <h2>
      {{product.price | currency: 'GEL': 'symbol-narrow'}}
    </h2>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-flat-button color="primary" (click)="addToCard()">ADD TO CARD</button>
    <button mat-flat-button color="warn" [routerLink]="['/backoffice', product._id]">READ MORE...</button>
  </mat-card-actions>
</mat-card>
